**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
test/temp/downloads/*
test/temp/no-downloads/*
test/fixtures/io/input.html
test/fixtures/io/input.epub
test/fixtures/io/input.pdf
test/temp/*.html
test/fixtures/io/*.html
/yarn.lock
node_modules
oclif.manifest.json
.vscode
.github
.sync.ffs_db
tsconfig.tsbuildinfo

index.tex
*.pdf

/coverage
